@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Ode To Food</h1>
    <p class="lead"></p>
    <p>@ViewBag.Message</p>
</div>

<div class="row">
    <div class="col-md-4">
        
    </div>
    <div class="col-md-4">
        
    </div>
    <div class="col-md-4">
        
    </div>
</div>